h1{
  color:red;
  font-size:50px;
}

.box1{
  font-size:30px;
  background-color:orange;
  text-align:center; 
  margin-left: 30px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/McLaren_P1.jpg/1200px-McLaren_P1.jpg');
  border-style: dotted;
  border-radius: 5px;
  border-color:red;
  
}
/*px is pixel*/
#mainheading{
  background-color:pink;
  text-decoration:underline;
  font-weight:bold
}
/*to change color you can use hexcode color, name the color, or RGB*/
/*z-index is used to create different layers*/